services:
  db:
    platform: linux/x86_64
    image: "ghcr.io/trilogy-libraries/trilogy/ci-mysql:${MYSQL_VERSION}-debian"
    build:
      context: .
      dockerfile: test/mysql/Dockerfile
      args:
        - MYSQL_VERSION=${MYSQL_VERSION}
      cache_from:
        - ghcr.io/trilogy-libraries/trilogy/ci-mysql:${MYSQL_VERSION}-debian
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_DATABASE: test
      MYSQL_HOST: db.local
    volumes:
      - ./tmp/mysql-certs:/mysql-certs
      - ./test/mysql/conf.d/${MYSQL_VERSION}:/etc/mysql/conf.d
      - ./test/mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
  app:
    image: ghcr.io/trilogy-libraries/trilogy/ci-app:distro-${DISTRIBUTION_SLUG}-ruby-${RUBY_VERSION}-mysql-${MYSQL_VERSION}
    privileged: true
    build:
      context: .
      args:
        - BUILDKIT_INLINE_CACHE=1
        - DISTRIBUTION=${DISTRIBUTION}
        - RUBY_VERSION=${RUBY_VERSION}
      cache_from:
        - ghcr.io/trilogy-libraries/trilogy/ci-app:distro-${DISTRIBUTION_SLUG}-ruby-${RUBY_VERSION}-mysql-${MYSQL_VERSION}
    environment:
      MYSQL_HOST: db.local
      TRILOGY_TEST_CERTS: "/mysql-certs"
    depends_on:
      - db
    links:
      - "db:db.local"
      - "db:wildcard.db.local"
    volumes:
      - "./tmp/mysql-certs:/mysql-certs"
