permissions:
  contents: read

name: macOS
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  test:
    name: Test
    runs-on: macos-latest
    strategy:
      matrix:
        mysql: ["8.0", "8.4"]
    steps:
    - uses: actions/checkout@v6
    - name: Setup MySQL
      run: |
        brew install mysql@${{ matrix.mysql }}
        (unset CI; brew postinstall mysql@${{ matrix.mysql }})
        brew services start mysql@${{ matrix.mysql }}
        sleep 5
        $(brew --prefix mysql@${{ matrix.mysql }})/bin/mysql -uroot -e 'CREATE DATABASE test'
    - name: Build
      run: CFLAGS="-I$(brew --prefix openssl@1.1)/include" LDFLAGS="-L$(brew --prefix openssl@1.1)/lib" make all test/test
    - name: test
      run: test/test
  test-ruby:
    name: Test Ruby
    runs-on: macos-latest
    strategy:
      matrix:
        mysql: ["8.0"]
        ruby: ["3.0", "3.1", "3.2", "3.3", "3.4"]
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Setup MySQL
      env:
        MYSQL_VERSION: ${{ matrix.mysql }}
      run: |
        brew install mysql@${{ matrix.mysql }}
        (unset CI; brew postinstall mysql@${{ matrix.mysql }})
        brew services start mysql@${{ matrix.mysql }}
        sleep 5
        $(brew --prefix mysql@${{ matrix.mysql }})/bin/mysql -uroot -e 'CREATE DATABASE test'
        [[ "$MYSQL_VERSION" == "8.0" ]] && $(brew --prefix mysql@${{ matrix.mysql }})/bin/mysql -uroot < test/mysql/docker-entrypoint-initdb.d/caching_sha2_password_user.sql
        $(brew --prefix mysql@${{ matrix.mysql }})/bin/mysql -uroot < test/mysql/docker-entrypoint-initdb.d/native_password_user.sql
        $(brew --prefix mysql@${{ matrix.mysql }})/bin/mysql -uroot < test/mysql/docker-entrypoint-initdb.d/x509_user.sql
        $(brew --prefix mysql@${{ matrix.mysql }})/bin/mysql -uroot < test/mysql/docker-entrypoint-initdb.d/cleartext_user.sql
    - name: Install dependencies
      run: |
        cd contrib/ruby
        bundle --without benchmark
    - name: Run tests
      run: |
        cd contrib/ruby
        bundle exec rake
